<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/generales.css" />
    <link rel="stylesheet" href="../css/contacto.css" />
    <title>Contacto</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="index.html">Inicio</a>
        <a href="Productos.html">Productos</a>
        <a href="contacto.html">Contacto</a>
      </nav>
    </header>
    <main>
      <div class="formulario">
        <h2>Formulario de contacto</h2>
        <p>
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" />
        </p>
        <p>
          <label for="apellido">Apellido</label>
          <input type="text" name="apellido" id="apellido" />
        </p>
        <p>
          <label for="email">Correo</label>
          <input type="email" name="email" id="email" />
        </p>
        <p>
          <label for="telefono">Telefono</label>
          <input type="tel" name="telefono" id="telefono" />
        </p>
        <p>
          <label for="asunto">Asunto</label>
          <input type="text" name="asunto" id="asunto" />
        </p>
        <p>
          <label for="mensaje">Mensaje</label>
          <input type="text" name="mensaje" id="mensaje" />
        </p>
        <p>
          <button type="submit" class="buttonSend">Enviar</button>
        </p>
      </div>
    </main>
  </body>
</html>
