<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/generales.css" />
  <script src="../js/index.js"></script>
  <title>Restaurante Katherine</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="index.html">Inicio</a>
      <a href="Productos.html">Productos</a>
      <a href="contacto.html">Contacto</a>
    </nav>
  </header>
  <main>
    <section class="contenedor">
      <img src="../img/img1.jpg" class="carruselImagen" alt="carrusel de imagenes" id="imagen">
      <button class="atras botones">
        &#60
      </button>
      <button class="adelante botones">
        &#62
      </button>
    </section>
    <section>

    </section>
  </main>

  <footer></footer>
</body>

</html>